body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #010012;
}

@font-face {
    font-family: ancientModern;
    src: url(fonte/ancient-modern-tales.ttf);
  }

  @font-face {
    font-family: aesymatt;
    src: url(fonte/aesymatt.ttf);
  }

#nome {
    color: #ffffff;
    font-family: ancientModern;
    font-size: 90px;
    font-weight: 100;
    align-items: center;
}

p {
    color: #ffffff;
    font-family: aesymatt;
    font-size: 50px;
    font-weight: 100;
}

#botao {
    background-color: #362db8;
    color: #ffffff;
    padding: 10px 20px;
    border: 10px;
    border-color: #362db8;
    cursor: pointer;
    font-family: aesymatt;
    width: 130px;
    height: 50px;
    font-size: 20px;
    border-style: ridge;
}

#botao:hover {
    background-color: #010012;
    transition: 0.5s;
    color: #ffffff;
}

#menu {
    height: 100%;
    margin-left: auto;
}

#container{
    display: flex;
    flex-direction: row;
}