body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #010012;
}

@font-face {
    font-family: ancientModern;
    src: url(fonte/ancient-modern-tales.ttf);
  }

  @font-face {
    font-family: aesymatt;
    src: url(fonte/aesymatt.ttf);
  }

h1 {
    color: #ffffff;
    font-family: ancientModern;
    font-size: 150px;
    font-weight: 100;
}

p {
    color: #ffffff;
    font-family: aesymatt;
    font-size: 50px;
    font-weight: 100;
}

#botao {
    background-color: #ffffff;
    color: #010012;
    padding: 10px 20px;
    border: 50px;
    border-color: #362db8;
    cursor: pointer;
    font-family: aesymatt;
    width: 130px;
    height: 50px;
    font-size: 20px;
}

button:hover {
    background-color: #0056b3;
    transition: 0.5s;
}